/*
    Flaticon icon font: Flaticon
    Creation date: 09/05/2018 09:25
    */

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
    url("./Flaticon.woff") format("woff"),
    url("./Flaticon.ttf") format("truetype"),
    url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.flaticon-001-cancel-3:before {
  content: "\f100";
}
.flaticon-002-cancel-2:before {
  content: "\f101";
}
.flaticon-003-cancel-1:before {
  content: "\f102";
}
.flaticon-004-cancel:before {
  content: "\f103";
}
.flaticon-005-upload-1:before {
  content: "\f104";
}
.flaticon-006-upload:before {
  content: "\f105";
}
.flaticon-007-power-button:before {
  content: "\f106";
}
.flaticon-008-settings-1:before {
  content: "\f107";
}
.flaticon-009-alert-2:before {
  content: "\f108";
}
.flaticon-010-alert-1:before {
  content: "\f109";
}
.flaticon-011-alert:before {
  content: "\f10a";
}
.flaticon-012-settings:before {
  content: "\f10b";
}
.flaticon-013-question:before {
  content: "\f10c";
}
.flaticon-014-add-2:before {
  content: "\f10d";
}
.flaticon-015-add-1:before {
  content: "\f10e";
}
.flaticon-016-add:before {
  content: "\f10f";
}
.flaticon-017-info:before {
  content: "\f110";
}
.flaticon-018-download-1:before {
  content: "\f111";
}
.flaticon-019-download:before {
  content: "\f112";
}
.flaticon-020-disable:before {
  content: "\f113";
}
.flaticon-021-minus-1:before {
  content: "\f114";
}
.flaticon-022-minus:before {
  content: "\f115";
}
.flaticon-023-check-6:before {
  content: "\f116";
}
.flaticon-024-check-5:before {
  content: "\f117";
}
.flaticon-025-check-4:before {
  content: "\f118";
}
.flaticon-026-check-3:before {
  content: "\f119";
}
.flaticon-027-check-2:before {
  content: "\f11a";
}
.flaticon-028-check-1:before {
  content: "\f11b";
}
.flaticon-029-check:before {
  content: "\f11c";
}
.flaticon-030-reload-6:before {
  content: "\f11d";
}
.flaticon-031-reload-5:before {
  content: "\f11e";
}
.flaticon-032-reload-4:before {
  content: "\f11f";
}
.flaticon-033-reload-3:before {
  content: "\f120";
}
.flaticon-034-reload-2:before {
  content: "\f121";
}
.flaticon-035-reload-1:before {
  content: "\f122";
}
.flaticon-036-reload:before {
  content: "\f123";
}

$font-Flaticon-001-cancel-3: "\f100";
$font-Flaticon-002-cancel-2: "\f101";
$font-Flaticon-003-cancel-1: "\f102";
$font-Flaticon-004-cancel: "\f103";
$font-Flaticon-005-upload-1: "\f104";
$font-Flaticon-006-upload: "\f105";
$font-Flaticon-007-power-button: "\f106";
$font-Flaticon-008-settings-1: "\f107";
$font-Flaticon-009-alert-2: "\f108";
$font-Flaticon-010-alert-1: "\f109";
$font-Flaticon-011-alert: "\f10a";
$font-Flaticon-012-settings: "\f10b";
$font-Flaticon-013-question: "\f10c";
$font-Flaticon-014-add-2: "\f10d";
$font-Flaticon-015-add-1: "\f10e";
$font-Flaticon-016-add: "\f10f";
$font-Flaticon-017-info: "\f110";
$font-Flaticon-018-download-1: "\f111";
$font-Flaticon-019-download: "\f112";
$font-Flaticon-020-disable: "\f113";
$font-Flaticon-021-minus-1: "\f114";
$font-Flaticon-022-minus: "\f115";
$font-Flaticon-023-check-6: "\f116";
$font-Flaticon-024-check-5: "\f117";
$font-Flaticon-025-check-4: "\f118";
$font-Flaticon-026-check-3: "\f119";
$font-Flaticon-027-check-2: "\f11a";
$font-Flaticon-028-check-1: "\f11b";
$font-Flaticon-029-check: "\f11c";
$font-Flaticon-030-reload-6: "\f11d";
$font-Flaticon-031-reload-5: "\f11e";
$font-Flaticon-032-reload-4: "\f11f";
$font-Flaticon-033-reload-3: "\f120";
$font-Flaticon-034-reload-2: "\f121";
$font-Flaticon-035-reload-1: "\f122";
$font-Flaticon-036-reload: "\f123";
